<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page!</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
  <h1 class="display-4">Welcome To DibyaJyoti Jobs Portal!</h1>
    <p>Update news continue..</p>
  <hr class="my-4">


      <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">HydrabadJob Information</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/banglorejobs" role="button">BangaloreJob Information</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Channaijob Information</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune Information</a>
</div>


</div>

</body>
</html>